:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(./img/sub2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;
    transition: 0.3s;
}

.container__botao:hover {
    background-color: #1665f7;
    transition: 0.3s;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    transition: 0.3s;
}

.botao_secundario:hover {
    transition: 0.3s;
    background-color: #1665f783;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__segundo {
    align-items: center;
    background-color: #123258;
    padding: 0 30px 0 80px;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 8em 0;
}

.dispositivos {
    text-align: center;
    background-color: #123258;
    height: 60vh;
}

.dispositivos__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    padding: 0 80px 0 80px;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.lista__link a {
    color: var(--branco-principal);
    font-size: 16px;
    margin: 0 16px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: red;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-secundario);
    text-align: center;
    margin-bottom: 16px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 7em;
    margin-bottom: 2em;
}
span{
    color: aqua;
}